<h1>Dashboard</h1>
<%= link_to "Total Products: #{@products_count}", "admin/products#index", class: 'btn btn-lg btn-primary' %>
<%= link_to "Total Categories: #{@category_count}", "admin/products#index", class: 'btn btn-lg btn-primary' %>



